USE [master]
GO
/****** Object:  Database [QLyThuVien]    Script Date: 5/28/2025 12:06:27 AM ******/
CREATE DATABASE [QLyThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLyThuVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLyThuVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLyThuVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLyThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLyThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLyThuVien]
GO
/****** Object:  Table [dbo].[chitietphieumuon]    Script Date: 5/28/2025 12:06:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietphieumuon](
	[maphieu] [int] NOT NULL,
	[masach] [int] NOT NULL,
	[soluong] [int] NOT NULL,
 CONSTRAINT [PK_chitietphieumuon] PRIMARY KEY CLUSTERED 
(
	[maphieu] ASC,
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[docgia]    Script Date: 5/28/2025 12:06:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docgia](
	[madocgia] [int] IDENTITY(1,1) NOT NULL,
	[tendocgia] [nvarchar](50) NOT NULL,
	[sdt] [numeric](10, 0) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_docgia] PRIMARY KEY CLUSTERED 
(
	[madocgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[muonphong]    Script Date: 5/28/2025 12:06:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[muonphong](
	[maphong] [int] NOT NULL,
	[madocgia] [int] NOT NULL,
	[tgianmuon] [datetime] NOT NULL,
	[tgiantra] [datetime] NOT NULL,
	[ghichu] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_muonphong] PRIMARY KEY CLUSTERED 
(
	[maphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 5/28/2025 12:06:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[manv] [int] IDENTITY(1,1) NOT NULL,
	[tennv] [nvarchar](50) NOT NULL,
	[sdt] [numeric](10, 0) NOT NULL,
	[ngaysinh] [int] NOT NULL,
	[quequan] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_nhanvien] PRIMARY KEY CLUSTERED 
(
	[manv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhaxuatban]    Script Date: 5/28/2025 12:06:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhaxuatban](
	[manxb] [int] IDENTITY(1,1) NOT NULL,
	[tennxb] [nvarchar](50) NOT NULL,
	[sdt] [nvarchar](10) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_nxb] PRIMARY KEY CLUSTERED 
(
	[manxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieumuon]    Script Date: 5/28/2025 12:06:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieumuon](
	[maphieu] [int] IDENTITY(1,1) NOT NULL,
	[madocgia] [int] NOT NULL,
	[manv] [int] NOT NULL,
	[ngaymuon] [date] NOT NULL,
	[ngaytra] [date] NOT NULL,
	[trangthai] [nvarchar](50) NOT NULL,
	[ghichu] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_phieumuon] PRIMARY KEY CLUSTERED 
(
	[maphieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phonghoc]    Script Date: 5/28/2025 12:06:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phonghoc](
	[maphong] [int] IDENTITY(1,1) NOT NULL,
	[tenphong] [nvarchar](50) NOT NULL,
	[mota] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_phonghoc] PRIMARY KEY CLUSTERED 
(
	[maphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sach]    Script Date: 5/28/2025 12:06:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach](
	[masach] [int] IDENTITY(1,1) NOT NULL,
	[tensach] [nvarchar](50) NOT NULL,
	[matacgia] [int] NOT NULL,
	[manxb] [int] NOT NULL,
	[matheloai] [int] NOT NULL,
	[namxb] [int] NOT NULL,
	[sotrang] [int] NOT NULL,
 CONSTRAINT [PK_sach] PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sukien]    Script Date: 5/28/2025 12:06:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sukien](
	[masukien] [int] IDENTITY(1,1) NOT NULL,
	[tensukien] [nvarchar](50) NOT NULL,
	[manxb] [int] NOT NULL,
	[tgiantochuc] [datetime] NOT NULL,
	[mota] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_sukien] PRIMARY KEY CLUSTERED 
(
	[masukien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tacgia]    Script Date: 5/28/2025 12:06:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tacgia](
	[matacgia] [int] IDENTITY(1,1) NOT NULL,
	[tentacgia] [nvarchar](50) NOT NULL,
	[namsinh] [int] NOT NULL,
	[quequan] [nvarchar](100) NOT NULL,
	[mota] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tacgia] PRIMARY KEY CLUSTERED 
(
	[matacgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taikhoan]    Script Date: 5/28/2025 12:06:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taikhoan](
	[matk] [int] IDENTITY(1,1) NOT NULL,
	[manv] [int] NOT NULL,
	[tendangnhap] [nvarchar](50) NOT NULL,
	[matkhau] [nvarchar](50) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[matk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tendangnhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[theloai]    Script Date: 5/28/2025 12:06:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theloai](
	[matheloai] [int] IDENTITY(1,1) NOT NULL,
	[tentheloai] [nvarchar](50) NOT NULL,
	[mota] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_theloai] PRIMARY KEY CLUSTERED 
(
	[matheloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[chitietphieumuon]  WITH CHECK ADD  CONSTRAINT [FK_chitietphieumuon_phieumuon] FOREIGN KEY([maphieu])
REFERENCES [dbo].[phieumuon] ([maphieu])
GO
ALTER TABLE [dbo].[chitietphieumuon] CHECK CONSTRAINT [FK_chitietphieumuon_phieumuon]
GO
ALTER TABLE [dbo].[chitietphieumuon]  WITH CHECK ADD  CONSTRAINT [FK_chitietphieumuon_sach] FOREIGN KEY([masach])
REFERENCES [dbo].[sach] ([masach])
GO
ALTER TABLE [dbo].[chitietphieumuon] CHECK CONSTRAINT [FK_chitietphieumuon_sach]
GO
ALTER TABLE [dbo].[muonphong]  WITH CHECK ADD  CONSTRAINT [FK_muonphong_docgia] FOREIGN KEY([madocgia])
REFERENCES [dbo].[docgia] ([madocgia])
GO
ALTER TABLE [dbo].[muonphong] CHECK CONSTRAINT [FK_muonphong_docgia]
GO
ALTER TABLE [dbo].[muonphong]  WITH CHECK ADD  CONSTRAINT [FK_muonphong_phonghoc] FOREIGN KEY([maphong])
REFERENCES [dbo].[phonghoc] ([maphong])
GO
ALTER TABLE [dbo].[muonphong] CHECK CONSTRAINT [FK_muonphong_phonghoc]
GO
ALTER TABLE [dbo].[phieumuon]  WITH CHECK ADD  CONSTRAINT [FK_phieumuon_nhanvien] FOREIGN KEY([manv])
REFERENCES [dbo].[nhanvien] ([manv])
GO
ALTER TABLE [dbo].[phieumuon] CHECK CONSTRAINT [FK_phieumuon_nhanvien]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK_sach_nxb] FOREIGN KEY([manxb])
REFERENCES [dbo].[nhaxuatban] ([manxb])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK_sach_nxb]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK_sach_tacgia] FOREIGN KEY([matacgia])
REFERENCES [dbo].[tacgia] ([matacgia])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK_sach_tacgia]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK_sach_theloai] FOREIGN KEY([matheloai])
REFERENCES [dbo].[theloai] ([matheloai])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK_sach_theloai]
GO
ALTER TABLE [dbo].[sukien]  WITH CHECK ADD  CONSTRAINT [FK_sukien_nhaxuatban] FOREIGN KEY([manxb])
REFERENCES [dbo].[nhaxuatban] ([manxb])
GO
ALTER TABLE [dbo].[sukien] CHECK CONSTRAINT [FK_sukien_nhaxuatban]
GO
ALTER TABLE [dbo].[taikhoan]  WITH CHECK ADD  CONSTRAINT [FK_taikhoan_nhanvien] FOREIGN KEY([manv])
REFERENCES [dbo].[nhanvien] ([manv])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[taikhoan] CHECK CONSTRAINT [FK_taikhoan_nhanvien]
GO
ALTER TABLE [dbo].[taikhoan]  WITH CHECK ADD  CONSTRAINT [CHK_taikhoan_role] CHECK  (([role]=N'Nhân viên' OR [role]=N'Quản lý'))
GO
ALTER TABLE [dbo].[taikhoan] CHECK CONSTRAINT [CHK_taikhoan_role]
GO
USE [master]
GO
